<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from coderthemes.com/adminto/layouts/auth-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 May 2025 13:27:52 GMT -->
<%- include('../../partials/head') %>

    <body>

        <div class="auth-bg d-flex min-vh-100">
            <div class="row g-0 justify-content-center w-100 m-xxl-5 px-xxl-4 m-3">
                <div class="col-xxl-3 col-lg-5 col-md-6">
                    <a href="index.html" class="auth-brand d-flex justify-content-center mb-2">
                        <h1>Tidali</h1>
                    </a>
                    <p class="fw-semibold mb-4 text-center text-muted fs-15">Admin</p>

                    <div class="card overflow-hidden text-center p-xxl-4 p-3 mb-0">
                        <h4 class="fw-semibold mb-3 fs-18">შედით თქვენს სისტემაში</h4>

                        <form action="/admin/login" method="POST" class="text-start mb-3">
                            <% if (typeof error !=='undefined' ) { %>
                                <div class="alert alert-danger">
                                    <%= error %>
                                </div>
                                <% } %>

                                    <div class="mb-3">
                                        <label class="form-label" for="example-username">მომხმარებელი</label>
                                        <input type="text" id="example-username" name="username" class="form-control"
                                            placeholder="შეიყვანეთ მომხმარებელი" required>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="example-password">პაროლი</label>
                                        <input type="password" id="example-password" name="password"
                                            class="form-control" placeholder="შეიყვანეთ პაროლი" required>
                                    </div>

                                    <div class="d-flex justify-content-between mb-3">
                                        <a href="auth-recoverpw.html"
                                            class="text-muted border-bottom border-dashed">პაროლის შეცვლა</a>
                                    </div>

                                    <div class="d-grid">
                                        <button class="btn btn-primary fw-semibold" type="submit">შესვლა</button>
                                    </div>
                        </form>



                    </div>
                    <p class="mt-4 text-center mb-0">
                        <script>document.write(new Date().getFullYear())</script> © Tidali - By <span
                            class="fw-bold text-decoration-underline text-uppercase text-reset fs-12">Nikusha WD</span>
                    </p>
                </div>
            </div>
        </div>

        <!-- Vendor js -->
        <script src="/js/vendor.min.js"></script>

        <!-- App js -->
        <script src="/js/app.js"></script>

    </body>


    <!-- Mirrored from coderthemes.com/adminto/layouts/auth-login.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 22 May 2025 13:27:52 GMT -->

</html>