<footer id="footer" class="footer section">
  <div class="footer-flex">
    <div class="flex-item">
      <a class="brand pull-left" href="#">
        <!-- <img alt="" src="images/brand.png"> -->
        <div class="brand-info">
          <div class="brand-name">Tidali</div>
          <div class="brand-text">architecture</div>
        </div>
      </a>
    </div>
    <div class="flex-item">
      <div class="inline-block">© Tidali 2025<br>made by WD studio</div>
      <div class="flex-item">
        <div class="social-list">
          <a href="https://www.instagram.com/tidali_service/?igshid=MzRlODBiNWFlZA%3D%3D"
            class="icon ion-social-instagram"></a>
          <a href="https://www.facebook.com/Tidaliservice?mibextid=wwXIfr&rdid=sE8TmBSLK2L4kzW4&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1DAwsHSoks%2F%3Fmibextid%3DwwXIfr"
            class="icon ion-social-facebook"></a>

        </div>
      </div>
    </div>
</footer>
</div>
</div>