<!-- Sidebar Menu-->

<div class="menu">
  <span class="close-menu icon-cross2 right-boxed"></span>
  <!-- <div class="menu-lang right-boxed">
      <a href="#" class="active">Eng</a>
      <a href="#">Fra</a>
      <a href="#">Ger</a>
    </div> -->
  <ul class="menu-list right-boxed">
    <li class="active">
      <a href="/home">მთავარი</a>
      <!-- <ul>
          <li class="active"><a href="index.html">Classic</a></li>
          <li><a href="/partials/header.html">Full page</a></li>
          <li><a href="https://gasinforest.com/html/bauhaus/demo/dark/index.html">Dark</a></li>
        </ul> -->
    </li>
    <li>
      <a href="/about-us">კომპანიის შესახებ</a>
      <!-- <ul>
          <li><a href="works-grid.html">Grid</a></li>
          <li><a href="works-masonry.html">Masonry</a></li>
          <li><a href="works-carousel.html">Carousel</a></li>
          <li><a href="project-detail.html">Project Detail</a></li>
        </ul> -->
    </li>
    <li>
      <a href="#">სერვისები</a>
      <ul>
        <li><a href="/services/measurement">საამზომველო სერვისები</a></li>
        <li><a href="/services/architectural">არქიტექტურული სერვისები</a></li>
        <!-- <li><a href="news-masonry.html">Masonry</a></li> -->
      </ul>
    </li>
    <li>
      <a href="#">კონტაქტი</a>
      <!-- <ul>
          <li><a href="post-image.html">Image</a></li>
          <li><a href="post-gallery.html">Gallery</a></li>
          <li><a href="post-video.html">Video</a></li>
          <li><a href="post-right-sidebar.html">Right Sidebar</a></li>
        </ul> -->
    </li>
    <li>
      <a href="#">Pages</a>
      <ul>
        <li><a href="/about/about">About</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </li>
  </ul>
  <div class="menu-footer right-boxed">
    <div class="social-list">
      <!-- <a href="#" class="icon ion-social-twitter"></a> -->
      <a href="https://www.facebook.com/Tidaliservice?mibextid=wwXIfr&rdid=sE8TmBSLK2L4kzW4&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1DAwsHSoks%2F%3Fmibextid%3DwwXIfr#"
        class="icon ion-social-facebook"></a>
      <!-- <a href="#" class="icon ion-social-googleplus"></a> -->
      <!-- <a href="#" class="icon ion-social-linkedin"></a> -->
      <!-- <a href="#" class="icon ion-social-dribbble-outline"></a> -->
    </div>
    <div class="copy">© Tidali 2025.<br> made by WD studio</div>
  </div>
</div>