<!-- Sidebar Menu-->

<div class="menu">
  <span class="close-menu icon-cross2 right-boxed"></span>
  <ul class="menu-list right-boxed">
    <li class="active">
      <a href="/">მთავარი</a>
    </li>
    <li>
      <a href="/about-us">კომპანიის შესახებ</a>
    </li>
    <li>
      <a href="#">სერვისები</a>
      <ul>
        <li><a href="/services/measurement">საამზომველო სერვისები</a></li>
        <li><a href="/services/architectural">არქიტექტურული სერვისები</a></li>
      </ul>
    </li>
    <li>
      <a href="/contact">კონტაქტი</a>
    </li>

  </ul>
  <div class="menu-footer right-boxed">
    <div class="social-list">
      <a href="https://www.instagram.com/tidali_service/?igshid=MzRlODBiNWFlZA%3D%3D"
        class="icon ion-social-instagram"></a>
      <a href="https://www.facebook.com/Tidaliservice?mibextid=wwXIfr&rdid=sE8TmBSLK2L4kzW4&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1DAwsHSoks%2F%3Fmibextid%3DwwXIfr#"
        class="icon ion-social-facebook"></a>
    </div>
    <div class="copy">© Tidali 2025.<br> made by WD studio</div>
  </div>
</div>