<section class="section-about">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <strong class="section-subtitle">ჩვენს შესახებ</strong>
          <h2 class="section-title section-about-title"><%= aboutUs.title %></h2>
          <p><%= aboutUs.content %></p>

        </div>
        <div class="col-md-5 col-md-offset-1">
          <div class="dots-image">
            <img alt="" class="about-img img-responsive" src="images/1-470x660.jpg">
            <div class="dots"></div>
          </div>
        </div>
      </div>
    </div> 
  </section>